# Ignora todos os arquivos .pdf
*.pdf

# NÃO ignore o PDF do manual
!/doc/wIbgeTex-doc.pdf

# Arquivos temporários do LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz
*.bbl
*.blg
*.bcf
*.run.xml
*.fdb_latexmk
*.fls

# Arquivos de backup
*~
*.bak
*.swp

# Diretórios compilados
build/
dist/
tmp/

#outros
criar_pacote_ctan.py
